$backgroundLight: #F8F8FB;
$backgroundDark: #141625;
$dark: #373B53;
$superDark: #1E2139;
$primaryFeature: #7c5dfa;
$primaryFeatureLight: #9277FF;
$secondaryFeature: #EC5757;
$secondaryFeatureLight: #ff9797;
$textPrimary: #0C0E16;
$textSecondary: #7E88C3;
$textTertiary: #888EB0;
$faintPrimary: #dfe3fa;


