.form-section{
    position: absolute;
    top: 0; 
    right: 0; 
    left: 0; 
    @media(min-width: $tablet){
        width: 616px;
    }
}

.bill-from{
    // ---------   grid
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 24px;
    grid-template-areas:
    "street-address street-address" 
    "city post-code"
    "country country";
    @media (min-width: $tablet){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "street-address street-address street-address" 
        "city post-code country"
    }
    &__city{
        grid-area: city;
    }
    &__street-address{
        grid-area: street-address;
    }
    &__post-code{
        grid-area: post-code;
    }
    &__country{
        grid-area: country;
    }
    // ---------------- grid ^^
    &__label{
        padding-top: 32px !important;
        padding-bottom: 27px !important;
    }
}
.bill-to{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 24px;
    grid-template-areas:
        "name name"
        "email email"
        "address address"
        "city code"
        "country country"
   ;
    @media (min-width: $tablet){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "name name name"
            "email email email"
            "address address address"
            "city code country";
    }
    &__client-name{
        grid-area: name;
    }
    &__client-email{
        grid-area: email;
    }
    &__street-address{
        grid-area: address;
    }
    &__city{
        grid-area: city;
    }
    &__post-code{
        grid-area: code;
    }
    &__country{
        grid-area: country;
    }
     // ---------------- grid ^^
    &__label{
        padding-top: 40px !important;
        padding-bottom: 27px !important;
    }
}

.invoice_details{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(3, 1fr);

     grid-template-areas:
         "date"
         "select"
         "description"
     ;
    @media (min-width: $tablet){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 24px;
        grid-template-areas:
            "date select"
            "description description"
        ;
    }
    &__custom-select{
        grid-area: select;
    }
    &__date-picker{
        grid-area: date;
        padding: 2px;
    }
    &__description{
        grid-area: description;
    }
    > div{
        margin-top: 24px;
    }
   
    
}

.item-list{
    margin-top: 66px;
}
.item__grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "name name name name"
    "qty price total bin"
    ;
    @media (min-width: $tablet){

        grid-template-rows: 1fr; 
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "name qty price total bin"
        ;
    }
    grid-gap: 16px;
    .form-field{
        padding-top: 24px;
    }
}

.item{
    &-name{
        grid-area: name;
    }
    &-qty{
        grid-area: qty;
    }
    &-price{
        grid-area: price;
    }
    &-total{
        grid-area: total;
        position: relative;
    }
}
.total-number{
       position: absolute;
       bottom: 17px;
       left: 17px;
       transform: translateX(-50%);
   }

.bin{
    align-self: end;
    justify-self: center;
    margin-bottom: 17px;
}

.form-footer{
    padding: 24px 22px;
    display: flex;
    justify-content: space-around;
    @media (min-width: $tablet) {
        justify-content: flex-end;
    }
 
}


main.form-active{
    height: 100vh;
    overflow: hidden;
}
body.form-active{
    overflow: hidden
}

@media(min-width: $tablet){
    .item-list .item:not(:first-of-type) label{
        display: none;
     }
}