.button{
    border: none;
    border-radius: 24px;
    padding: 18px 24px; 
    cursor: pointer;
    color: white;
    &-one{
        background: $primaryFeature;
        width: 100px;
        display: flex;
        align-items: center;
        padding: 0;
        .white-circle{
            background: white;
            height: 32px;
            width: 32px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 8px;
        }
        @media(min-width: $tablet) {
            width: 150px;
        }
    }
    &:hover{
        background: $primaryFeatureLight;
    }
    &-two{
        background: $primaryFeature;
        background: $primaryFeature;
       
    }
    &-two:hover{
        background: $primaryFeatureLight;
    }
    &-three{
        background:$backgroundLight;
        color: $textSecondary;
    
    }
    &-three:hover{
        background:$faintPrimary;
    }
    &-four{
        background: $secondaryFeature;
    }
    &-four:hover{
        background: $secondaryFeatureLight;
    }
    &-five{
        background: $backgroundLight;
        color: $textSecondary;
        width: 100%;
        margin-top: 48px;
        svg{
            margin-right: 5px;
        }
        
    }
    &-five:hover{
        background: $faintPrimary;
   
    }
    &-six{
        background: $dark;
        color: $faintPrimary;
    }
    &-six:hover{
        background: $superDark;
        color: $faintPrimary;
    }
}

.back-button{
    border: none;
    background: transparent;
    margin-bottom: 27px;
    color: $textPrimary;
    svg{
        margin-right: 23px;
    }
}
